.chatWindow {
    display: flex;
    align-items: center;
}

.chatWindow img {
    width: 5%;
}

.message {
    width: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #0f7cd7;
    color: #f4f4f4;
}