.postsBlock {
    padding: 10px;
}

.addMessageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addMessageForm textarea {
    padding: 5px;
    box-sizing: border-box;
    width: 90%;
    min-width: 244px;
    resize: vertical;
    border-radius: 15px;
    border: none;
    background: #f0f0f0;
    box-shadow: 0 0 2px 0;
}

.addMessageForm button {
    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 2px 0;
}