.nav {
    grid-area: n;
    background: #f4f4f4;
}
.item {
    color: #0f7cd7;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px
    /*-webkit-text-stroke: 1px #000;*/
}

.item a:hover {
    color: #c32466;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item a.activeProfile {
    color: #c32466;
    font-size: 27px;
}

.item a.active {
    color: #f4f4f4;
    font-size: 27px;
}

.item .active {
    display: block;
    background-color: #0f7cd7;
}