.nav {
    grid-area: n;
    background: #f4f4f4;
}
.item {
    color: #0f7cd7;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    /*-webkit-text-stroke: 1px #000;*/
}
.item a {
    text-decoration: none;
    color: inherit;
}